body{
    font-family: 'Cedarville Cursive', cursive;
    background: linear-gradient(#6832a8 0%, #9a32a8 50%, #a8328f 100%);
    font-weight: bold;
}
.header_div{
    background: linen;
    color: rgb(121, 207, 233);
}
.header_div img { 
    width: 100px 
}
.main_div { 
    background:#fff9c7; 
    padding: 10px; 
    margin-top: 15px;
     border: 3px solid white; 
    }
    .main_div label { 
        background: white; 
        width: 310px; 
        padding: 10px; 
        margin-bottom: 0px; 
        box-shadow: 5px 5px 18px white; 
    }
    #camera , #result { 
        border: 2px solid white; 
        width: 310px; 
        height: 300px; 
        box-shadow: 5px 5px 18px white; 
    }